.playerCell {
  width: 100%;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 5fr repeat(4, .8fr) repeat(2,2fr);
  grid-template-rows: .2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: darkgrey;
  font-size: 11px;
}

.compositeInfo{
  grid-area: 1/7/2/8;
  border: 1px solid white;
  text-align: center;
}

.headerCell {
  width: 100%;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 5fr repeat(4, .8fr) repeat(2,2fr);
  grid-template-rows: .2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: gray;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.headerCell .playerInfo {
  display: block;
  text-align: center;
}

.playerInfo {
  grid-area: 1/1/2/2;
  border: 1px solid white;
  height: auto;
  display: flex;
}

.nameInfo {
  grid-area: 1/1/2/2;
  padding: 1px;
  padding-left: 5px;
  display: flexbox;
  flex-direction: row;
  font-weight: bold;
  margin-left: auto;
  padding-right: 10px;
}

.locationInfo {
  grid-area: 1/1/2/2;
  padding: 1px;
  display: flexbox;
  flex-direction: row;
  width: 160px;
}

.posInfo {
  grid-area: 1/1/2/2;
  padding: 1px;
  display: flexbox;
  flex-direction: row;
  float: right;
  width: 30px;
  text-align: center;
  border-right: 1px solid gray;
}

.ron3 {
  grid-area: 1/2/2/3;
  border: 1px solid white;
  text-align: center;
  padding: 2px;
}

.r247 {
  grid-area: 1/3/2/4;
  border: 1px solid white;
  text-align: center;
  padding: 2px;
}

.respn {
  grid-area: 1/4/2/5;
  border: 1px solid white;
  text-align: center;
  padding: 2px;
}

.rrivals {
  grid-area: 1/5/2/6;
  border: 1px solid white;
  text-align: center;
  padding: 2px;
}

.commitInfo {
  grid-area: 1/6/2/7;
  border: 1px solid white;
  text-align: center;
}

.playerCell:hover {
  background-color: lightgrey;
}

.playerCell div:hover {
  background-color: grey;
}

.playerTable {
  width: 75%;
  border: 5px solid black;
  border-radius: 10px;
  margin-left: 5px;
}