.grid {
  display: grid;
  grid-template-columns: .4fr repeat(10, 1fr);
  grid-template-rows: .5fr repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: auto;
  border: 2px solid red;
  grid-template-areas: 
    '. button1 button1 . button2 button2 . searchdiv searchdiv searchdiv searchdiv'
    'div4 div4 div4 div4 div4 div5 div5 div5 div5 div5 div5'
    'div4 div4 div4 div4 div4 div5 div5 div5 div5 div5 div5'
    'div4 div4 div4 div4 div4 div5 div5 div5 div5 div5 div5'
    'div4 div4 div4 div4 div4 div5 div5 div5 div5 div5 div5'
    'div4 div4 div4 div4 div4 div5 div5 div5 div5 div5 div5'
    'div6 div6 div6 div6 div6 div5 div5 div5 div5 div5 div5'
    'div6 div6 div6 div6 div6 div5 div5 div5 div5 div5 div5'
    'div6 div6 div6 div6 div6 div5 div5 div5 div5 div5 div5'
    'div6 div6 div6 div6 div6 div5 div5 div5 div5 div5 div5';
}

@media (max-width: 768px) {
  .grid {
    grid-template-rows: .2fr .01fr;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 
    'button2 button2 button2 searchdiv searchdiv'
    'div4 div5 div6 button1 button1';
  }
}
  
.button1, .button2, .nothing, .searchdiv, .div4, .div5, .div6 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
}

.button1 { 
  grid-area: button1;
  border-radius: 10px;
  margin: 4px;
  background-color: rgba(250,250,250,0.6);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  overflow-x: scroll;
  white-space: nowrap;
}
.button2 {
  grid-area: button2; 
  border-radius: 10px;
  margin: 4px;
  background-color: rgba(250,250,250,0.6);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: scroll;
  white-space: nowrap;
}
.buttoncontent {
  display: inline-block;
  text-align: left;
}
.button1::-webkit-scrollbar, .button2::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}

.button1::-webkit-scrollbar-track, .button2::-webkit-scrollbar-track {
  background-color: transparent;
}

.button1::-webkit-scrollbar-thumb, .button2::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.searchdiv { 
  grid-area: searchdiv;
}
.searchbar {
  width: 90%;
  height: 90%;
  border-radius: 5px;
  background-color: rgba(1,1,1,0.8);
  border: 2px solid rgba(250,250,250,0.6);
}
.searchbar::placeholder {
  text-align: center;
}
.div4 { 
  grid-area: div4;
  background-color: green;
}
.div5 { 
  grid-area: div5;
  background-color: white;
}
.div6 { 
  grid-area: div6;
  background-color: grey; 
}

@media (max-width: 768px) {
  .grid {
    grid-template-rows: .3fr repeat(5,1fr);
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 
    '. . . searchdiv searchdiv'
    'div5 div5 div5 div5 div5'
    'div5 div5 div5 div5 div5'
    'div5 div5 div5 div5 div5'
    'div4 div4 div4 div6 div6'
    'div4 div4 div4 div6 div6';
  }
}