.playerCell {
  width: 100%;
  border: 1px solid gray;
  background-color: darkgrey;
  font-size: 11px;
}

.compositeInfo{
  border: 1px solid white;
  text-align: center;
}

.headerCell {
  width: 100%;
  border: 1px solid gray;
  background-color: gray;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.headerCell .playerInfo {
  display: block;
  text-align: center;
}

.playerInfo {
  height: 100%;
  margin: 0px;
  display: flex;
}

.nameInfo {
  padding: 1px;
  padding-left: 5px;
  display: flexbox;
  flex-direction: row;
  font-weight: bold;
  margin-left: auto;
  padding-right: 10px;
  text-align: right;
}

.locationInfo {
  padding: 1px;
  display: flexbox;
  flex-direction: row;
  width: 160px;
  height: 100%;
}

.posInfo {
  padding: 1px;
  display: flexbox;
  flex-direction: row;
  float: right;
  width: 30px;
  text-align: center;
  border-right: 1px solid gray;
}

.ron3 {
  border: 1px solid white;
  text-align: center;
  padding: 2px;
}

.r247 {
  border: 1px solid white;
  text-align: center;
  padding: 2px;
}

.respn {
  border: 1px solid white;
  text-align: center;
  padding: 2px;
}

.rrivals {
  border: 1px solid white;
  text-align: center;
  padding: 2px;
}

.commitInfo {
  border: 1px solid white;
  text-align: center;
}

.playerCell:hover {
  background-color: lightgrey;
}

.playerCell div:hover {
  background-color: grey;
}

.playerTable {
  width: 75%;
  border: 5px solid black;
  border-radius: 10px;
  margin-left: 5px;
}