.playerCell {
  width: 100%;
  border: 1px solid gray;
  background-color: darkgrey;
  font-size: 11px;
}
.weightSelector {
  width: auto;
  background-color: rgba(155, 155, 176, 0.7);
  border: 2px solid rgba(89, 85, 106, 0.7);
  border-radius: 3px;
  margin-right: 2px;
}
.submit {
  background-color: rgba(17, 114, 56, 0.8);
  border: 2px solid rgb(5, 33, 16);
}
.submit:active {
  border: 3px solid rgb(5,33,16);
}
.weightSelector::placeholder {
  color: rgba(0,0,0,0.6);
}

.dropdown {
  font-family: 'Arial Narrow', sans-serif;
  background-color: rgba(155, 155, 176, 0.7);
  border-radius: 5px;
  border: 2px solid rgba(89, 85, 106, 0.7);
}
.dropdown:focus {
  border: 2px solid rgba(25,50,150,0.7);
}

.compositeInfo{
  text-align: center;
}

.headerCell {
  width: 100%;
  border: 1px solid gray;
  background-color: gray;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.headerCell .playerInfo {
  display: block;
  text-align: center;
}

.playerInfo {
  height: 100%;
  margin: 0px;
  display: flex;
}

.nameInfo {
  padding: 1px;
  display: flexbox;
  flex-direction: row;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  transition: border-color 0.3s ease;
}
.nameInfo:hover {
  border-bottom: 2px solid red;
  cursor: pointer;

}

.locationInfo {
  padding: 1px;
  display: flexbox;
  flex-direction: row;
  width: 160px;
  height: 100%;
}

.heading {
  text-align: center;
  font-size: 28px;
  font-family: 'Arial Narrow Bold', sans-serif;
  color: white;
  margin-bottom: 5px;
}

.posInfo {
  padding: 1px;
  display: flexbox;
  flex-direction: row;
  float: right;
  width: 30px;
  text-align: center;
  border-right: 1px solid gray;
}

.ron3 {
  text-align: center;
  padding: 2px;
}

.r247 {
  text-align: center;
  padding: 2px;
}

.respn {
  text-align: center;
  padding: 2px;
}

.rrivals {
  text-align: center;
  padding: 2px;
}

.commitInfo {
  text-align: center;
}

.playerCell:hover {
  background-color: lightgrey;
}

.playerCell div:hover,.playerCell td:hover {
  background-color: grey;
}

.playerTable {
  width: 100%;
  border: 5px solid black;
  background-color: rgba(89, 85, 106, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 5px;
  overflow: scroll;
}

.table {
  margin-left: auto;
  width: 100%;
  padding: 5px;
}