.biggerdiv {
  width: 100%;
  background-color: rgba(20, 20, 152, 0.6);
  height: auto;
  margin: -63px 0px;
}
.resizableWindow {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px); /* 80% of viewport height */
  overflow: hidden;
}

.dot {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}

.innerContent {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling for the inner content */
}

.floating {
  position: absolute;
  width: calc(13vw + 60px);
  height: calc(13vw + 60px);
  background-color: red;
  right: 7%;
  bottom: 7%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.floatheader {
  position: relative;
  font-size: calc(2.5vw + 3px);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-bottom: 0.7vw;
}

.floatform {
  position: relative;
  background-color: white;
  height: 78%;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}
.floatdropdown {
  width: 100%;
  font-size: 2vw;
  text-align: center;
}

.floatlabel {
  text-align: center;
  width: 100%;
  font-size: 2.2vw;
  padding-bottom: 0.4vh;
  padding-top: 0.4vh;
}

.floatdropitem {
  font: black;
  font-size: 2.5vw;
}

.floatsubmit {
  width: 100%;
  height: 1vh;
  font-size: 2vw;
  line-height: 0%;
  margin-top: 1%;
  background-color: yellow;
}